.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}
.NavigationItems a{
    color:white;
}
.NavigationItems a:hover{
color: red;
}
.NavigationItems .dropdownItems{
    color:#212529;  
}
.dropdown-item{

}
@media (min-width: 992px) {
    .NavigationItems {
        flex-flow: row;
    }
}
@media (max-width: 992px) {
    .NavigationItems a{
        color:black;
    }
}